[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/kirangin/glfw
[submodule "vendors/glad"]
	path = vendors/glad
	url = https://github.com/kirangin/glad
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/kirangin/imgui
